body{
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;

    
}

.logo-metro{
    display: flex;
}

.logo-metro img{
    height: 100px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu img {
    height: 80px;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.menu a:hover {
    font-weight: bold;
}