body { /* Fondo de la página web */
	background-color: #ffffff;
	text-align: center;
}

div#contenedor { /* Contenedor que tiene la vista de la web*/
	height : 100vh;
	display : grid;
	grid-template-rows: 30% 70%;

	margin : 0 auto;
	border: 1px solid black;
}

.logo-container{
	flex: 0 0 auto; /* Ajusta el tamaño del contenedor del logo para que no crezca */
}

#LogoMetro {
	width: 125px;
	height: auto;
	margin-right: 25px;
}
